* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: azure;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: azure;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.title {
  color: rgb(247, 107, 14);
}

.container2 {
  background-color: cadetblue;
  padding: 20px;
  border: solid rgb(86, 86, 112) 5px;
}

.subtitle {
  width: 250px;
  color: aliceblue;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.question {
  font-size: 20px;
  color: rgb(19, 16, 15);
  font-weight: 900;
  text-align: center;
}
.select {
  align-items: center;
  text-align: center;
  border: solid cadetblue 3px;
}
.input {
  border: solid cadetblue 3px;
  text-align: center;
  width: 200px;
}
.indication {
  text-transform: uppercase;
  font-size: larger;
  font-weight: bolder;
  color: rgb(247, 107, 14);
}

.button {
  background-color: rgb(247, 107, 14);
  border-radius: 20px;
  font-size: large;
  width: 100px;
  border: none;
  text-transform: uppercase;
  color: aliceblue;
}

.hidden{
  display: none;
}